/*Sections -----------------*/
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/*This is to display columns properly---------*/
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*This is to fix the overflows-----*/
.reading-area {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*Mobile First Queries-----*/

/*Larger than mobile----*/
@media (min-width: 400px) { 
}

body { 
  background-color:rgb(224, 219, 235);
}

h1 {
  color:rgb(8, 7, 71);
}

h2 {
  color:rgb(3, 31, 56);
}

h3 {
  color:rgb(5, 46, 99);
}

p {
  color:#0c4e4e;
}

