/*Sections -----------------*/
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/*This is to display columns properly---------*/
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*This is to fix the overflows-----*/
.reading-area {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*Mobile First Queries-----*/

/*Larger than mobile----*/
@media (min-width: 400px) { 
}

/*Background colour*/
body {
  background-color: purple;
}

h1 {
  color: coral;
}

h2 {
  color: aliceblue;
}

h3 {
  color: coral;
}

p {
  color: #f0ffff;
}

